.div-stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div-fastStatistics {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}


.div-fastStatistics h4 {
    font-weight: 500;
}

.div-fastStatistics h3 {
    font-weight: 700;
}

.div-fastStatistics p {
    text-align: center;
}