img.profile-img {
    width: 140px;
    border-radius: 220px;
}

.card-header {
    text-align: end;

}
button.edit-btn {  
      background-color: #df4c4a;
      border: none;
      padding:18px;
      color: white;
      border-radius: 18px;
}

