

.success-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0px;
  padding:100px 200px;
  margin:0 auto;
  background-color:#fff5ef;
  width:100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.success-content {
      margin-left: -150px;
    text-align: left;
    flex: 1 1;
}

.success-items {
 margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.success-item {
 display: flex;
  align-items: flex-start;
  gap: 16px;
}

.success-item h4 {
   font-size: 1.1rem;
  color: #111;
  margin-bottom: 6px;
}

.success-item p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5;
  max-width: 500px;
}

.success-images {
    margin-right: -150px;
    flex: 1 1;
    display: grid
;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.success-images img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.img1{
    height: 220px;
  width:300px;
  transform: translateY(20px);
  transform: translateX(50px);
}

.img2{
    margin-left: 20px;
    height: 220px;
    width: 300px;
    transform: translateY(40px);
}

.img3{
    height: 220px;
  width:50%;
  transform: translateY(-40px);
  margin-left: 50px;
}
.img3 img{
  height:220px;
}

.img4{
     height: 220px;
    width: 50%;
    transform: translateY(2px);
    margin-left: 20px;
}

.img4 img{
  height:220px;
}
