.HomePageheading {
  font-weight: 400;
  color: #222;
  line-height: 1.3;
  width: 120%;
  font-size: 3.7rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  margin-bottom: .2rem;
  line-height: 1.1;
}

.HomePageheading span {
  color: #e04e45;
  font-weight: 400;
}