.navbar {
  width: 94%;
  margin: 0 auto;
  background-color: #fffcf6;
  border-bottom: 1px solid #f1eae4;
  padding: 1.2rem 4rem;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
}

.cta {
  display: flex;
  align-items: center;
}

.btn {
  margin: 0px!important;
}


.navbar h1 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  margin: 0 10px;
}