.panel-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: calc(100vh - 70px); /* below header */
  background-color: #fffcf6;
  margin-top: 70px; /* same as header height */
}

.panel-content {
  padding: 2rem 3rem;
  width: 80%!important;
  margin-left: auto;
}