.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  padding: 60px 40px;
  background-color: #fff;
  gap: 40px; 
}

.hero-left {
  flex: 1;
  min-width: 45%;
}

.hero-right {
  display: flex;
  justify-content: flex-end;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  position: relative;
  width: 650px; 
  margin: 0 auto;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item1 {
  height: 200px;
  width: 250px;
  transform: translateY(20px) translateX(30px);
}

.item2 {
  width: 300px;
  height: 210px;
  transform: translateY(40px);
}

.item3 {
  width: 280px;
  height: 200px;
  transform: translateY(10px) translateX(30px);
}

.item4 {
  width: 280px;
  height: 200px;
  transform: translateY(30px);
}


.info-card {
  height: 13vh;
  position: absolute;
  bottom: -15px;
  left: 50px;
  background: #fff;
  padding: 14px 22px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.info-card p {
  font-weight: 350;
  margin: 0;
  font-size: 0.7rem;
  color: #777;
}

.info-card h3 {
  margin: 6px 0 0;
  color: #e04e45;
  font-weight: 300;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    justify-content: center;
  }

  .image-grid {
    width: 100%;
    max-width: 500px;
  }
}
