.ready-section{
   display: flex
;
    background-color: #e04e45;
    flex-direction: column;
    width: 100%;
    height: 50vh;
gap:40px;
justify-content: center;
}
.ready-text{
color:white;
}
.ready-text h2{
    font-weight:400;
    font-size: 20px;
}