@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.div-panelProfile {
    width: 80%;
    margin: 2% auto;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.div-panelContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-leftSide {
    width: 55%;
}

.div-rightSidet {
    width: 45%;
}

.div-headerPart {
    width: 100%;
}

.div-littleBoxi {
    width: 60%;
    border: 2px solid #df4d4a90;
    padding: 20px;
    text-align: start;
    border-radius: 5px;
}

.div-littleBoxContent {
    display: flex;
    flex-direction: row;
    border: none!important;
    justify-content: space-between;
}

.div-littleBoxComponent {
    width: 70%;
}

.div-Heading {
    width: 100%;
    text-align: start;
}

#hrLine-littleBox {
    width: 75%;
    height: 5px;
  border: none;
  border-radius: 50px;
  background-color: #DF4C4A;
}