.HomePageheading {
    text-align: left;
    font-size: 4rem;
    font-weight: 400;
    color: #222;
    line-height: 1.3;
    max-width: 600px;
}

.HomePageheading span {
  color: #e04e45;
  font-weight: 400;
}