.Work-card {
height: 30vh;
    background-color: #ffffff63;
    border-radius: 12px;
   
    padding: 20px;
    text-align: center;
    width: 320px;
    display: flex
;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s 
ease;
}




.workcard {
  width: 70px;
  height: 70px;
  border-radius: 12px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.workcard svg {
  color: #e04e45;
    font-size: 28px;
    stroke-width: 0.5;
}

.workcard svg :hover{
    transform: scale(1.1);
      transition: transform 0.3s ease;
}
.Work-card h3 {
 font-size: 1rem;
    font-weight: 550;
    margin-bottom: 10px;
    color: #333;
}

.Work-card p {
font-weight: 400;
    font-size: 0.7rem;
    color: #555;
    line-height: 1.5;
}