.stat-item {
  text-align: center;
}

.stat-item h3 {
 text-align: left;
    font-weight: 250;
    font-size: 1rem;
    margin: 0;
    color: #e04e45;
}

.stat-item p {
 font-size: 0.8rem;
    color: #555;
    margin: 4px 0 0;
}