.nav-links {
  display: flex;
  align-items:end;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 0.95rem;
  transition: color var(--transition-fast);
}

.nav-links a:hover {
  color: var(--color-primary);
}
