.imageGrid {
  width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  position: relative;
}

.gridBlock {
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;
}

.blockCampus{
  transform: translateX(10px) translateY(10px);
}


.blockStudents {
  transform: translateY(25px);
}

.blockLibrary {
  transform: translateY(-10px);
  transform: translateX(10px);
}

.blockUni {
  transform: translateY(12px);
}

.infoBadge {
  position: absolute;
  bottom: 45px;
  left: 40px;
  background: white;
  padding: 14px 22px;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 18px 22px -10px;
}

.infoLabel {
  margin: 0;
  font-size: 0.75rem;
  color: #777;
  font-weight: 400;
}

.infoValue {
  margin: 6px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
  color: #e04e45;
}