.why-section {
  background-color: #fffdfd;
  text-align: center;
  border-radius: 16px;
  margin-left: calc(-50vw + 50%);
  position: relative;
}

.why-section h3 {
  font-size: 1.1rem;
  color: rgb(50, 50, 50);
  margin: 5px 0;
}


.icon {
  font-size: 28px;
  color: #a4161a;
  background: rgba(164, 22, 26, 0.1);
  border-radius: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  padding: 14px;
  height: 60px;
  margin-bottom: 12px;
  font-weight: 200;
}

.why-grid i {
  stroke-width: .1;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(4, .9fr);
  justify-items: center;
  margin: 20px;
}


.why-grid .description {
  font-size: 0.9rem;
  font-weight: 400;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  margin: 0;
}